<div class="footer-bottom">

	<div class="container">

		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<div class="copyright">

					© 2018, FidlerKB, All rights reserved

				</div>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<div class="design">

					 <a href="#"> </a> <a target="_blank" href="https://harolodb.firebaseapp.com/">Web Design & Development by Fidler</a>

				</div>

			</div>

		</div>

	</div>

</div>