<div>
  <div class="Modal">
    <mat-form-field class="form-item">
      <textarea matInput placeholder="Author"
      [(ngModel)]="Author" required
      ></textarea>
    </mat-form-field>

    <mat-form-field  class="form-item">
      <textarea matInput placeholder="Title"
      [(ngModel)]="Title" required
      ></textarea>
    </mat-form-field>   
    <h6 *ngIf="!validTitle" class="valid">Title Allredy Exicts</h6>
    
    <mat-form-field class="form-item">
      <textarea matInput placeholder="Date [mm-dd-yyy]"
      [(ngModel)]="Date" type="date" required 
      ></textarea>
    </mat-form-field>
    <h6 *ngIf="!dateValid" class="valid">Date Not Valid mm-dd-yyyy</h6>
</div>
  
    <button mat-button *ngIf="action" (click)= "Add()">Add</button>
    <button mat-button *ngIf="!action" (click)= "edit()">Edit</button>
    <button mat-button (click)="Close()">Close</button>

</div>