<nav class="nav-container">
  <div>
    <h1 class="title">
      HeroloTask
    </h1>
  </div>
  <div>
      <div class="nav-list layout-row">
         <span>
            <button mat-button (click)="select('')"> Home </button>
         </span> 
         <span>
           <button mat-button (click)="select('/Lib')">View Books</button>    
         </span>
        </div>
  </div>
</nav>