.layout-row {
    display: flex;
    flex-direction: row;

  }
  
  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #beceec;

  }

.title{
    font-style: oblique;
    padding: 10px;
    text-shadow: 1px 1px #a7dcec;
}

.mat-button, .mat-raised-button{
    margin-bottom:  5px;
    box-shadow: 1px 2px #a7a6a6;
} 