/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body, .main {
    height: 100%;
    min-height: 100%;
    background-color: #e0ecf5;
}

.main {
    display: flex;
    flex-direction: column;
}
