<div class = "new-btn">
    <button mat-button (click)="AddBook()">Add New Book</button>
</div>
<mat-accordion class="mainpannel">
  <div  *ngFor="let item of list">
    <mat-expansion-panel (opened)="selectBook(item)">
        <mat-expansion-panel-header>
            <mat-panel-title>
             Author : {{item.Author | maxString | capitilize }} | Title : {{item.Title | capitilize | maxString  }} | Date : {{item.Date | date:'fullDate' }} 
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button (click)= "EditBook()">Edit</button>
        <button mat-button (click)="DeleteBook()">Delete</button>
    </mat-expansion-panel>
  </div>
</mat-accordion>

