:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
     
}
.new-btn{
    padding: 10px;
}

.mat-button, .mat-raised-button{
    box-shadow: 1px 2px #a7a6a6;
} 

.mat-accordion .mat-expansion-panel {
    box-shadow: 1px 2px #a7a6a6;
    border-bottom: outset;
    border-bottom-width: 1px;
    border-bottom-left-radius: 30px 15px;
}